:root {
  --white: #6ee6aa;
  --black: #000000;
  --very-light-pink: #c7c7c7;
  --secondary-color: #50bde8;
  --primary-color: #111111;
  /* --primary-color: #000000; */
  color-scheme: light dark;
}

html {
  font-size: 10px;
}

body {
  font-family: "Quicksand", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: var(--primary-color);
}
